$def with (data)
<h3>Current Tool: $data[0]</h3>
<nav class="navbar">
	<ul>
		$for tool in data[1]:
			$if tool == 'cryptos':
				<li><a href="/tag/$tool">$tool</a></li>
			$else:
				<li><a href="/cryptos/$tool">$tool</a></li>
	</ul>
</nav>


$if data[0] == 'calendar':
	<h1>OK!</h1>