$def with (data)
$var title: My Stuff
$var subtitle: I hope!
<form name="main" method="post"> 
$if not data[0].valid: <p class="error">Sorry, something went wrong:</p>
$:data[0].render()
</form>
<header class="group">
	<a href="/"><h3 class="left">NoteZ</h3></a>
</header>
<nav class="navbar">
	<ul>
	$for tag in data[2]:
		<li><a href="/tag/$tag">$tag</a></li>
	</ul>
</nav>
<table>
$for d in data[1]:
    <tr>
    	<td>$niceDate(d.created)</td>
    	<td>$d.tag</td>
    	<td>$d.title</td>
    	<td><a class="btn btn-green" href="/view/$d.id">v</a>
		<a class="btn btn-yellow" href="/edit/$d.id">e</a>
		<a class="btn btn-red" onclick="return confirm('Are you sure?')" href="/delete/$d.id">d</a><td>
	</tr>
</table>

