$def with (data)
<link href="/static/flashls/video-js.css" rel="stylesheet" type="text/css">
<script src="/static/flashls/video.js"></script>
<script>
	videojs.options.flash.swf = "/static/flashls/video-js.swf";
</script>

<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="640" height="264" 
  poster="http://video-js.zencoder.com/oceans-clip.png"
  data-setup='{"techOrder": ["flash"]}'>
<source src="$data[1][data[0]]" type='video/mp4' />
</video>

<h3>Current Tool: $data[0]</h3>
<nav class="navbar">
	<ul>
		$for tool in data[1]:
			<li><a href="/streams/$tool">$tool</a></li>
	</ul>
</nav>
mplayer $data[1][data[0]]

