$def with (data)
<h3>Current Tool: $data[0]</h3>
$data.append(['daily calendar', 'weekly calendar', 'technical summary', 'pip calculator', 'technical analysis', 'interest rates', 'cross', 'trades'])
<nav class="navbar">
	<ul>
		$for tool in data[1]:
			$if tool == 'trades':
				<li><a href="/tag/$tool">$tool</a></li>
			$else:
				<li><a href="/trades/$tool">$tool</a></li>
	</ul>
</nav>


$if data[0] == 'daily calendar':
	<h2>Daily Calendar</h2>
	<iframe src="http://ec.forexprostools.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&category=_employment,_economicActivity,_inflation,_credit,_centralBanks,_confidenceIndex,_balance,_Bonds&importance=1,2,3&features=datepicker,timezone&countries=25,32,6,37,72,22,17,39,14,48,10,35,7,43,60,36,110,11,26,12,4,5&calType=day&timeZone=8&lang=1" width="636" height="467" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
$elif data[0] == 'weekly calendar':
	<h2>Weekly Calendar</h2>
	<iframe src="http://ec.forexprostools.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&category=_employment,_economicActivity,_inflation,_credit,_centralBanks,_confidenceIndex,_balance,_Bonds&importance=1,2,3&features=datepicker,timezone&countries=72,22,17,39,10,35,12,4,5&calType=week&timeZone=15&lang=1" width="636" height="467" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
$elif data[0] == 'technical summary':
	<h2>Technical Summary</h2>
	<iframe src="http://tsw.forexprostools.com?&forex=1,2,3,5,7,9,10&commodities=8830,8836,8831,8849,8833,8862,8832&indices=169,20,166,172,27,167,178&stocks=6408,6369,243,267,7888,284,8090&tabs=1,2,3,4" width="317" height="467"></iframe>
	<br>
$elif data[0] == 'pip calculator':
	<h2>Pip Calculator</h2>
	<iframe frameborder="0" scrolling="auto" height="640" width="545" allowtransparency="true" marginwidth="0" marginheight="0" src="http://tools.investing.com/pip-calculator/index.php?acc=3"></iframe>
$elif data[0] == 'technical analysis':
	<h2>Technical Analysis</h2>
	<iframe frameborder="0" scrolling="no" height="274" width="425" allowtransparency="true" marginwidth="0" marginheight="0" src="http://tools.investing.com/technical_summary.php?pairs=1,2,3,4,5,6&curr-name-color=%230059B0&fields=5m,1h,1d"></iframe>
$elif data[0] == 'interest rates':
	<h2>Interest Rates</h2>
	<iframe frameborder="0" scrolling="no" height="200" width="474" allowtransparency="true" marginwidth="0" marginheight="0" src="http://irates.investing.com/index.php?rows=1&bg1=FFFFFF&bg2=F1F5F8&text_color=333333&enable_border=show&border_color=0452A1&header_bg=0452A1&header_text=FFFFFF" align="center"></iframe>
$elif data[0] == 'cross':
	<iframe frameborder="0" scrolling="no" height="600" width="800" allowtransparency="true" marginwidth="0" marginheight="0" src="http://charts.investing.com/index.php?pair_ID=1&timescale=300&candles=50&style=candles"></iframe>