$def with (data)
<h2>$data[0].title</h2>
<h6>$niceDate(data[0].created) $data[0].tag $data[0].type </h6>
$:html(data[0])
<a class="btn btn-yellow" href="/edit/$data[0].id">e</a>
<a class="btn btn-red" onclick="return confirm('Are you sure?')" href="/delete/$data[0].id">d</a>    	